/* .makeStyles-toolbar-13 {
    min-height: 0 !important;
}
.makeStyles-content-251 {
    padding: 0 !important;
    flex-grow: 1;
}
.makeStyles-content-653 {
    padding: 0 !important;
    flex-grow: 1;
}

.makeStyles-content-215 {
    padding: 0 !important;
    flex-grow: 1;
}
.makeStyles-root-487 {
    width: 1210px;
    margin-top: -50px;
    background-color: #fff;
}
.makeStyles-content-430 {
    padding: 0 !important;
    flex-grow: 1;
} */
