.employrequest{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.btn-success {
    border-radius: 25px;
    padding: 5px;

}
.btn-danger {
    border-radius: 25px;
    padding: 5px;

}
.btn{
    margin-right: 15px;
}