body{
    background-color: #ECF2F7;
}
.employrequest{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 25px;
}

.btn-success {
    border-radius: 25px;
    padding: 5px;

}
.btn-danger {
    border-radius: 25px;
    padding: 5px;

}
.btn {
    margin-right: 15px;
    border-radius: 1.25rem !important;
}
.btn-link {
    color: #7ab3cf !important;

}
.Approve_history{
background-color: white;
/* height: 350px; */
margin-left: 10px;
margin-top: 25px;
padding: 50px;
border-radius: 10px;

}
.Rejected_history{
    background-color: white;
    /* height: 350px; */

    margin-top: 25px;
    padding: 50px;
    border-radius: 10px;


}
input[type=text] {
    width: 60%;
    height: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    float: right;
    border-bottom: 2px solid #C8E5FD;
  }
.header_name{
    float: left;
}  
.rounded-circle{
    /* float: left; */
    width: 50px;
     height:50px;
}
h6{
    
    /* float: left; */
    padding: 15px;
}
.history{
    border-bottom: 2px solid #EBEBEB;
position: relative;
    width: 100%;
    float:none;
    height: auto;
    /* background-color:black; */
}
.btn-toolbar{
    float:right;
    margin-top: -50px;
}
.btn-primary {
    color:none !important;
    background-color: none !important;
    border-color: none !important;

     margin-top: 0px !important;

}
.nav-tabs .nav-link {
    float: right;
}
.header h2{
    /* float: left; */
}
.nav{
 box-shadow: none !important;
 background-color: none !important; 
}
.Approvehistory{
    float: left;
}
.Rejectedhistory{
    float: left;
}
.date{
    font-size: 15px;
    font-weight: bold;
}
.card_header{
    background-color: none !important;
    border-bottom: 2px solid #EBEBEB !important;

}
.card-header{
    background-color: none !important;

}
.card-header{
    background-color: none !important;

}
.card{
        border-radius: 1.25rem !important;
        margin-left: 18px;

}

.username{
    color: #7ab3cf;
    font-weight: bold;
}
.react-datepicker__input-container {
        background: none !important;

}
.card:nth-child(1){
    margin-left: 0px !important;


}
.leave_history_title{
    font-weight:  bold;
}
.view_all{
    width:100px;
    height: 30px;
    float:right;
    margin-top: 10px;
    background-color: #4796BE;
    border: none;
    color:white;
    border-radius: 15px;
}
