.jsx-1876002214 {
    width:200px;
    padding: none !important;
    margin: none !important;
    box-sizing: none !important;
    border: none !important;
    float: none !important;
    border-bottom: 2px solid #C8E5FD;

}
.Work_snapReport{
    text-align: center;
    margin: auto;
}
.download{
    margin-right: 70px;
}