.table1, td, th {
  border: 1px solid black !important;
  margin-left: 300px; 
  margin-top: 70px;
  font-size: 20px;
  border-collapse: collapse;  
  border: 1px solid blueviolet;
  font-size: 18px;
  padding: 4px;
}

@media (max-width: 1000px) and (orientation: landscape){
  .table1, td, th { 
    margin-left: 100px;
    margin-top: 70px;
    border-collapse: collapse;    
    border: 1px solid black ;
    font-size: 12px;
    font-size: 18px;
    padding: 5px;
  }
}

@media (max-width: 1000px){
  .table1, td, th { 
    margin-left: 100px;
    margin-top: 70px;
    border-collapse: collapse;    
    border: 1px solid black ;
    font-size: 12px;
    padding: 5px;
    font-size: 18px;
  }
}