body{
  background-color: #EAF0F5 !important;

}

.leave-request{
  background-color: white;
  height: 330px;
  margin: auto;
  border-radius: 10px;
  padding: 25px;

}
.sent-status{
  background-color: white;
  border-radius: 10px;
  margin: auto;
  padding: 25px;
  text-align-last: left;
}
.form-control1{
  padding-left: 10px;
  width: 100%;
}

/* .right-main-content {
    float: right;
    width: 80vw;
    position: absolute;
} */
/* .right-content {
    position: absolute;
    margin-left: 20vw;
} */
.input.fa.fa-search.search-text {
  width: 17vw;
  float: left;
  height: 35px;
}
a.navbar-brand {
  margin-left: 10vw;
}
.col-sm-6 {
  flex: 0 0 50%;
  max-width: 30% !important;
}

@media (max-width:400px) and (min-width:360px)
{
  .leave-request{
    background-color: white;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    padding: 25px;
   
  }
  .sent-status{
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 25px;
    text-align-last: left;
  }
  .changes
  {
    width:70vw;
  }
  .form-control1{
    padding-left: 10vw;
    width: 100%;
  }
  textarea.form-control {
    height: auto;
    margin-left: 23px;
}
  .form-group {
    margin-bottom: 1rem;
    margin-left: 10vw;
}
.From{
  margin-left: 10px;
}
  }